* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html {
    font-size: 62.5%;

}
body{
    background-color: var(--black-color);
}
:root {
    --black-color: rgb(0, 0, 0);
    --white-color: white;
    --search-bar: rgb(50, 50, 50);
    --bg-color: rgb(76, 75, 75);
    --hover-color: rgb(90, 90, 90);
    --icon-color: #222222;

}

/***** Navigation section  *****/

.nav-bar {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 40;
    height: 5.6rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    
}

.left-side {

    height: 5rem;
    width: auto;
    display: flex;

    align-items: center;

    padding-left: 1rem;

}

.menu-icon {
    height: 4rem;
    width: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: .1rem;

}

.menu-icon:hover {
    background-color: var(--hover-color);
}

.menu-icon .fa-solid {
    color: var(--white-color);
    font-size: 2rem;


}

.youtube-logo svg {
    height: 2rem;
    fill: var(--white-color);

    margin: .5rem;

}

.country {
    color: var(--white-color);
    padding-bottom: 2rem;


}

.center-side {

    height: 5rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.search-box--section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.8rem;

    & input {
        width: 60rem;
        height: 3.5rem;
        padding: 0 2rem;
        border-top-left-radius: 5rem;
        border-bottom-left-radius: 5rem;
        border: none;
        background-color: var(--search-bar);
        color: var(--white-color);
        border: .3rem solid var(--bg-color);
        margin-left: 2rem;



    }

}

input::placeholder {
    color: var(--white-color);

}

.fa-magnifying-glass {
    color: var(--white-color);
    font-size: 2rem;

}

.search-icon {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;

    height: 3.5rem;
    padding: 0 2rem;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

button {
    background-color: transparent;
    border: none;

}
.mic-icon {
    height: 4rem;
    width: 4rem;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 2rem;
}

.mic-icon:hover {
    background-color: var(--hover-color);
}

.fa-microphone {
    color: white;
    font-size: 2rem;

}


.right-side {
    height: 5rem;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.create-icon {
    width: 10rem;
    background-color: var(--bg-color);
    height: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;

    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;

    & .create-button {
        font-size: 1.5rem;
        color: var(--white-color);
     
        text-align: center;
    }

}
.create-icon:hover{
    background-color: var(--hover-color);
}

.bell-icon {
    height: 4rem;
    width: 4rem;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 2rem;
}

.bell-icon:hover {
    background-color: var(--hover-color);
}

.bell-button {
    color: var(--white-color);
    font-size: 2rem;
}
.profile{
    height: 4rem;
    width: 4rem;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    /* margin: 0 2rem; */
}
.nav-bar--section{
    position: sticky;
    top: 0;
}



/***** End Navigation section  *****/



/***** side bar section *****/ 
.side-bar--section{
    background-color: var(--black-color);
    height: 100vh;
    width: 5.6rem;
    position: sticky;
    top: 5.6rem;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .icon{
   
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: .5rem;
    height: 7rem;
    border-radius:  1rem;
    -webkit-border-radius:  1rem;
    -moz-border-radius:  1rem;
    -ms-border-radius:  1rem;
    -o-border-radius:  1rem;
  
}


}
.icon:hover{
    background-color: var(--hover-color);
}
p{
    color: var(--white-color);

}

svg{
    fill: var(--white-color);

}

.subscription-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subscription-para{
    font-size: .8rem;

}

/***** End side bar section *****/


/***** main-section *****/  


.grid{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 1rem; 
  margin-top: 5rem;

}
 
.hero-section{
    display: grid;
    grid-template-columns: 8rem auto;
}
.box img{
   border-radius: 1rem;

   -webkit-border-radius: 1rem;
   -moz-border-radius: 1rem;
   -ms-border-radius: 1rem;
   -o-border-radius: 1rem;
}
.box1-para{
    padding: .5rem;
    font-size: 1.4rem;
   
    

}
.chanel-logo{
    width: 5rem;
    height: 5rem;
    background-color: gray;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
   
}
a{
text-decoration: none;
}
.title-of--video{
    display: flex;
    margin-top: 1rem;
   

}
.title-of--video .box1-para{
    line-height: 2.3rem;
    display: flex;
    flex-direction: column;

}
span{
    color: gray;
    font-size: 1.3rem;
    
}
span:nth-child(2){
    margin-bottom: 1rem;
}
/* .logo-outline{
    width: 20rem;

    height: auto;
    background-color: red;
} */
.box{
   padding: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.box:hover{
    background-color: rgb(59, 56, 56);
}



/***** End main-section *****/

/***** media queries section *****/ 
@media (width<1200px) {
    html{
        font-size: 55.5%;
    }
}
@media (width<=1188px) {
    
}
@media (width<1024px) {
     html{
        font-size: 50.5%;
     }
}

@media (width<980px) {
  .search-box--section input{
    width: 30rem;
  }
    .side-bar--section{
        display: none;
    }
 .hero-section{
    display: flex;
 }
 .grid{
    grid-template-columns: repeat(2,1fr);
 }
}
@media (width<=560px) {
   .grid{
    grid-template-columns: repeat(1,1fr);

 }
  .search-box--section input{
   display: none;
  }
  .search-box--section input{
    width: 15rem;
  }
}
@media (width<=640px) {
     .search-box--section input{
   display: none;
  }
  .search-icon{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    height: 4rem;
    width: 4rem;
}
    
}
@media (width<=768px) {
  .search-box--section input{
    width: 20rem;
  }

}
@media (width<=480px) {
  
   .create-button{
    display: none;
   }
   .create-icon{
    display: none;
   }
   .bell-icon{
    display: none;
   }
    .mic-icon{
        display: none;
    }
    .profile{
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .right-side{
        justify-content: right;

    }

  

    
}
@media (width<=560px) {
   
    .box img{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
.box{
    padding: 0;
}
.title-of--video{
    padding-left: 1rem;
}
    
}
/***** End media queries section *****/

 

